<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magetoolkit" translate="label" sortOrder="101" class="magetoolkit-tab">
            <label>Magetoolkit</label>
        </tab>
        <section id="base" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Company Information</label>
            <tab>magetoolkit</tab>
            <resource>Magetoolkit_Base::Information</resource>
            <group id="general" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>Magetoolkit\Base\Block\Adminhtml\System\Config\Info</frontend_model>
            </group>
        </section>
    </system>
</config>